body{
    font-family: 'Raleway', sans-serif;
  }
  
  footer{
      background-color:#222222;
      padding: 60px 0px;
  }
  
  footer ul{
      list-style:none;
      margin:0 auto;
      display:inline-block;
      padding-top:50px;
  }
  
  footer ul li{
      float:left;
  }
  
  footer ul li a{
      color:#b1aca1;
      padding:20px;
  }
  
  footer ul li a:hover{
      color:#7dabdb;
      text-decoration:none;
  }

  footer p{
      color: white;
      font-size: 30px;
      padding-top: 50px;
      bottom: 5
  }
  
  .footer-top{
      padding-bottom:50px;
  }
  
  .footer-top .fa{
      font-size:18px;
      color: #FFF;
      padding-right:10px;
  }
  
  .footer-top a{
      color:#FFF;
      text-decoration:none;
  }
  
  .footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
      color:#7dabdb;
  }
  
  .copyright{
      background-color:#f0f0f0;
  }
  
  .copyright p{
      font-size:12px;
      padding:15px 0 10px 0;
  }
  
  .thumbnail {
    padding:0;
}  
  .caption {
    background-color: lightgoldenrodyellow;
  }

  .jumbotron {
      margin-bottom: 10px !important;
  }

  .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;    
}